body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    color: #333;

    background: url("../img/luna.jpg") no-repeat center right fixed;
    background-color: black;
    background-size: auto 100%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a {
    color: #999999;
    text-decoration: none;
}

#cy {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

#menu {
    height: 91em;
    position: fixed;
    width: 25em;
    z-index: 1000;
}

#menu>* {
    display: block;
    position: relative;
    width: 100%;
    background: black;
    border-radius: 1em;
    color: white;
    padding: 0.5em;
    border: 1px solid white;
    margin: 0.5em;
}

#settings h3 {
    text-align: center;
    font-weight: bold;
}

#fileSelect {
    max-width: 14em;
}

#libSelect {
    max-width: 14em;
}

/* #settings select,
#settings input[type=number] {
    width: -webkit-fill-available !important;
} */

#spacing {
    width: 3em;
}

#info h3 {
    text-align: center;
    font-weight: bold;
}

button {
    font-size: 1em;
    padding: 0.5em;
    color: white;
    border-radius: 0.5em;
    border: 1px solid #fff;
    background: #000;
    cursor: pointer;
}

h1 {
    font-size: 1.5em;
    font-weight: normal;
    color: white;
}

h2 {
    font-size: 1.25em;
    font-weight: normal;
    margin: 0 0 .25em;
}

h3 {
    font-size: 1em;
    font-weight: normal;
    margin: 0 0 .25em;
}

h4 {
    font-size: .875em;
    font-weight: normal;
    margin: 0 0 .25em;
}

h5 {
    font-size: .75em;
    font-weight: normal;
    margin: 0 0 .25em;
}

h6 {
    font-size: .625em;
    font-weight: normal;
    margin: 0 0 .25em;
}

code {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 1em;
    line-height: 1.5;
    color: #333;
}

pre {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 1em;
    line-height: 1.5;
    color: #fff;
    overflow-wrap: break-word;
}

#loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

td {
    padding: 0.25em;
}

.file-tree ul {
    padding-left: 5px;
    list-style: none;
    margin-top: 0;
}

.file-tree ul li {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.file-tree ul li:before {
    position: absolute;
    top: 15px;
    left: 0;
    width: 10px;
    height: 1px;
    margin: auto;
    content: "";
    background-color: #666;
}

.file-tree ul li:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 100%;
    content: "";
    background-color: #666;
}

.file-tree ul li:last-child:after {
    height: 15px;
}

.file-tree ul a {
    cursor: pointer;
}

.file-tree ul a:hover {
    text-decoration: none;
}

#settings>b {
    padding-left: 0.5em;
}

#fileTree,
#libTree {
    padding-left: 0.5em;
    max-height: 16em;
    overflow-y: auto;
    overflow-x: hidden;
}

#fileTree button,
#libTree button {
    padding: 0.3em;
    border: none;
}

#libTree ul {
    list-style: none;
    padding-inline-start: 0;
}

#libTree li {
    padding-bottom: 0.25em;
}